$font-color: #1D232E;
$btn-color: #FCFF7B;
$input-color: #F8FAFD;

$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold:700;

$julius: 'Julius Sans One', sans-serif;
$inter: 'Inter', sans-serif;

