@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';
@import 'layout/forms';

@import 'components/buttons';
@import 'components/carousel';
@import 'components/cover';
@import 'components/dropdown';

@import 'pages/home';
@import 'pages/contact';

@import 'themes/theme';
@import 'themes/admin';

/* body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-img{
    width: 500px;
    border-radius: 0 0 1000px 1000px;
}
.content-img{
    width: 300px;
}

.input-login{
    padding: 4px;
    border-radius: 5px;

    background-color: #F8FAFD;
    border-style: none;
}

.btn{
    border-radius: 100px;
    width: 100px;
    padding: 5px;
    border-style: none;
    background-color: #FCFF7B;
}

.link{
    color: #5D90EC;
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

ul{
    border-radius: 10px 0 0 10px ;
    padding: 20px 20px 20px 40px ;
    /* background-color: #FCFF7B; */
    // background-color: red;
// } */