.link {
    position: absolute;
    top: 0;
    z-index: 10;
    top: 460px;
    left: 230px;
    color: #5D90EC;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;


}

.navPages{
    position: absolute;
    top: 0;
    z-index: 10;
    top: 10px;
    left: 400px;
    color: #5D90EC;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}