@import '/sass/abstracts/variables';
@import '/sass/abstracts/mixins';

@import '/sass/base/reset';
@import '/sass/base/typography';

@import '/sass/layout/navigation';
@import '/sass/layout/grid';
@import '/sass/layout/header';
@import '/sass/layout/footer';
@import '/sass/layout/sidebar';
@import '/sass/layout/forms';

@import '/sass/components/buttons';
@import '/sass/components/carousel';
@import '/sass/components/cover';
@import '/sass/components/dropdown';

@import '/sass/pages/home';
@import '/sass/pages/contact';

@import '/sass/themes/theme';
@import '/sass/themes/admin';

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-img{
    width: 500px;
    border-radius: 0 0 1000px 1000px;
}
.content-img{
    width: 300px;
}

.input-login{
    padding: 4px;
    border-radius: 5px;

    background-color: #F8FAFD;
    border-style: none;
}

.btn{
    border-radius: 100px;
    width: 100px;
    padding: 5px;
    border-style: none;
    background-color: #FCFF7B;
}

.link{
    color: #5D90EC;
    text-decoration: none;
    font-weight: 200;
    font-size: 14px;
}

ul{
    border-radius: 10px 0 0 10px ;
    padding: 20px 20px 20px 40px ;
    /* background-color: #FCFF7B; */
    background-color: red;
}