button {
    background-color: $btn-color;
    border-style: none;
    border-radius: 100px;
    padding: 10px 20px;
    margin: 0 5px;
    
}

.btn {
    background-color: $btn-color;
    border-style: none;
    border-radius: 100px;
    width: 130px;
    padding: 10px;

}
// Button middle pos
    // position: absolute;
    // top: 0;
    // z-index: 10;
    // top: 420px;
    // left: 190px;


#logoutBtn {
    position: absolute;
    top: 60px;
    z-index: 10;
    left: 40px;
    border-radius: 100px;
    width: 100px;
    padding: 10px;
    border-style: none;
    background-color: $btn-color;
}

#delBtn{
    border-radius: 100px;
    padding:7px;
    background-color: $btn-color;
    font-size: 14px;

    margin-left:  10px;

}

.fa-solid.fa-heart{
    display: hidden;

    color: $font-color;
}

