.btn {
    background-color: #FCFF7B;
    border-style: none;
    border-radius: 100px;
    width: 130px;
    padding: 10px;

}
// Button middle pos
    // position: absolute;
    // top: 0;
    // z-index: 10;
    // top: 420px;
    // left: 190px;


#logoutBtn {
    position: absolute;
    top: 65px;
    z-index: 10;
    left: 30px;
    border-radius: 100px;
    width: 130px;
    padding: 10px;
    border-style: none;
    background-color: #FCFF7B;
}

.delBtn{
    border-radius: 100px;
    padding: 7px;
    background-color: #FCFF7B;
    font-size: 8px;
}