@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Julius+Sans+One&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #1D232E;
}

h1 {
  font-family: "Julius Sans One", sans-serif;
}

h2 {
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 16px;
}

.link {
  position: absolute;
  top: 0;
  z-index: 10;
  top: 460px;
  left: 230px;
  color: #5D90EC;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.navPages {
  position: absolute;
  top: 0;
  z-index: 10;
  top: 10px;
  left: 400px;
  color: #5D90EC;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
}

#header-img {
  width: 500px;
  border-radius: 0 0 100% 100%;
  position: relative;
  z-index: 1;
}

h1 {
  position: absolute;
  top: 0;
  z-index: 10;
  top: 170px;
  left: 170px;
}

.content-img {
  width: 300px;
}

#user {
  font-family: "Julius Sans One", sans-serif;
  position: absolute;
  top: 25px;
  z-index: 10;
  left: 65px;
  font-weight: 600;
  font-size: 23px;
}

#sidebar {
  position: fixed;
  top: 200px;
  right: -239px; /* set the initial position off-screen */
  width: 250px;
  height: 100%;
  z-index: 10;
  transition: right 0.5s; /* add a transition effect */
}

#sidebar-toggle {
  position: absolute;
  top: 0;
  left: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.flexForm {
  display: flex;
  flex-direction: column;
}

.addNew {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: auto;
}

ul {
  border-radius: 10px 0 0 10px;
  padding: 20px 20px 20px 40px;
  background-color: #FCFF7B;
}

#email-input {
  padding-left: 20px;
  height: 35px;
  width: 300px;
  top: 260px;
  left: 100px;
}

#pw-input {
  padding-left: 20px;
  height: 35px;
  width: 300px;
  top: 340px;
  left: 100px;
}

.input-login {
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 4px;
  border-radius: 5px;
  background-color: #F8FAFD;
  border-style: none;
}

.formInput {
  padding: 4px;
  padding-left: 13px;
  border-radius: 5px;
  background-color: #F8FAFD;
  border-style: none;
  margin: 5px;
}

.difficulty {
  margin-right: 5px;
}

button {
  background-color: #FCFF7B;
  border-style: none;
  border-radius: 100px;
  padding: 10px 20px;
  margin: 5px 5px;
}

.btn {
  background-color: #FCFF7B;
  border-style: none;
  border-radius: 100px;
  width: 130px;
  padding: 10px;
}

.newStep {
  width: 40px;
}

#logoutBtn {
  position: absolute;
  top: 60px;
  z-index: 10;
  left: 40px;
  border-radius: 100px;
  width: 100px;
  padding: 10px;
  border-style: none;
  background-color: #FCFF7B;
}

#delBtn {
  border-radius: 100px;
  padding: 7px;
  background-color: #FCFF7B;
  font-size: 14px;
  margin-left: 10px;
}

.addFile {
  background-color: #FCFF7B;
  border-style: none;
  color: #1D232E;
}

#file-upload-button {
  background-color: #FCFF7B;
  height: 1000px;
}

.fa-solid.fa-heart {
  display: hidden;
  color: #1D232E;
}

.content-img {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.tutorials {
  display: flex;
  flex-wrap: wrap;
}

.flexDiv {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.tutorialDetails {
  text-align: center;
  align-content: center;
}