#header-img{
    width: 40px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-img{
    width: 500px;
    // height: 600px;
    // border-radius: 0 0 1000px 1000px;
    border-radius: 0 0 100% 100%;
    position: relative;
    z-index: 1;
}

h1{
    position: absolute;
    top: 0;
    z-index: 10;
    
    top: 170px;
    left: 170px
}

.input-login{
    position: absolute;
    top: 0;
    z-index: 10;

    padding: 4px;
    border-radius: 5px;
    

    background-color: #F8FAFD;
    // background-color: red;
    border-style: none;
}

#email-input{
    padding-left: 20px;
    height: 35px;
    width: 300px;
    top: 260px;
    left: 100px;
}
#pw-input{
    padding-left: 20px;
    height: 35px;
    width: 300px;
    top: 340px;
    left: 100px;
    
}


.link{
    position: absolute;
    top: 0;
    z-index: 10;
    top: 460px;
    left: 230px;


    color: #5D90EC;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
}

ul{
    border-radius: 10px 0 0 10px ;
    padding: 20px 20px 20px 40px ;
    background-color: #FCFF7B;
}

#sidebar {
    position: fixed;
    top: 200px;
    right: -239px; /* set the initial position off-screen */
    width: 250px;
    height: 100%;
    z-index: 10;
    transition: right 0.5s; /* add a transition effect */
}

#sidebar-toggle {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

